*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Microsoft YaHei",simSun,"Lucida Grande","Lucida Sans Unicode",Arial;
    line-height: 170%;
    font-size: 12px;
    color: #000;
    /* background-color: rgb(139, 18, 18); */
}
div{
    display: block;
}
.clearfix::after{
    clear: both;
    display: block;
    content: "";
}
.wrap {
    max-width: 1920px;
    min-width: 1280px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.NIE-topBar-include{
    background-color: #fff;
    height: 55px;
    border-bottom: 1px solid gray;
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 57px;
    
}
.NIE-topBar-main{
    position: relative;
    width: 179px;
    height: 54px;
    
    left: 0;
    background-color:rgb(207, 17, 50);
    top: 0;
}
.NIE-topBar-main i{
   
    display: inline-block;
    width: 25px;
    height: 11px;
    background: url(../sprite-w_dd519f4.png) -90px -306px no-repeat;
    margin: 20px 8px 0 0px;
}
.NIE-topBar-main a{
    width: 100%;
    height: 100%;
    display: block;
    color: white;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    
}
.NIE-topBar-main >.yincang1{
    height: 485px;
    display: none;
    position: absolute;
   
    width: 1310px;
  
}
.NIE-topBar-main:hover>.yincang1{
    display: block;
   z-index: 9999;
    background-color: rgba(252, 244, 244, 0.7);

}

/* 白蛇 */
.NIE-topBar-new{
    width: 420px;
    height: 55px;
    position: relative;
    background-color: red;
    left: 180px;
    top: -54px;
}
.NIE-topBar-new .img-a{
    width: 100%;
    height: 100%;
}
.NIE-topBar-new .img-b{
    display: inline-block;
    width: 960px;
    height: 250px;
    position: absolute;
    display: none;
}
.NIE-topBar-new:hover{
    background-color: rgb(255, 253, 253);
    z-index: 99999;
    color: #fff;
   
  
}
.NIE-topBar-new:hover span > .img-a{
    display: none;
    
}

.NIE-topBar-new:hover >.img-b{
    display: block;
    margin-top: -5px;
    top: 61px;
   
   
}
.NIE-topBar-logo{
    position: absolute;
    width: 133px;
    height: 44px;
    background: url(https://nie.res.netease.com/comm/nie.topBar/images/logo_b5525b7.png) no-repeat;
    left: 50%;
    top: 0;
    margin-top: 5px;
    margin-left: -30px;
    
}
.NIE-topBar-right{
    width: 138px;
    height: 57px;
    border-left: 1px solid gray;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    line-height: 52px;
    overflow: hidden;
}
/* .NIE-topBar-right > span{
    display: block;
} */
.NIE-topBar-right:hover > span{
    display: block;
    background-color: rgba(179, 173, 173,.5);
    border-bottom: 1px solid rgba(253, 3, 3,0.7);
}

/* 导航条 */
.nav {
    display: block;
    position: relative;
    height: 843px;
}
.top_nav {
    width: 100%;
    background: url(https://yys.res.netease.com/pc/gw/20180913151832/img/nav_back_bg_fd2505e.jpg) center top no-repeat;
    height: 60px;
  /* position: fixed; */
  /* position: relative; */
   position: absolute;
    /* margin-top: 57px; */
    right: 0;
    top: 57px;
    z-index: 99;
  
   
}
.top_nav .top_nav_worp{
    width: 1180px;
    height: 100%;
  
    margin: 0 auto;
}
.top_nav .top_nav_worp .gm{
    background: url(https://yys.res.netease.com/pc/gw/20180913151832/img/nav_bg1_d44f09d.jpg) 0 0 no-repeat;
    float: left;
    width: 107px;
    height: 65px;
    text-align: center;
    text-decoration: none;
    line-height: 60px;
    font-size: 14px;
    color: black;
    font-weight: 700;
}
.top_nav_worp li{
   
    float: left;
    width: 107px;
    height: 65px;
}
ul{
    list-style: none;
}
.top_nav .top_nav_worp ul li > a{
    float: left;
    width: 107px;
    height: 65px;
    text-align: center;
    text-decoration: none;
    line-height: 60px;
    font-size: 14px;
    color: white;
    font-weight: 700;
 
}
.top_nav .top_nav_worp .shuxian{
    border-right: 1px solid #fff;
    float: right;
    width: 1px;
    height: 10px;
  
    margin-top: -40.5px;
    
}
.top_nav .top_nav_worp li:hover{
    background: url(https://yys.res.netease.com/pc/gw/20180913151832/img/nav_bg1_d44f09d.jpg) 0 0 no-repeat;
    /* position: relative; */
    margin-left: -1px;
   

}
.top_nav .top_nav_worp li:hover > a{
    color:black;
}
.top_nav .top_nav_worp li:hover > .shuxian{
    display: none;
}
.top_nav_worp_a_xiala{
    width: 100%;
    position: absolute;
    height: 140px;
    background: url(https://yys.res.netease.com/pc/gw/20180913151832/img/subnav_bg_5cc9309.jpg) center 0px no-repeat;
    left: 0;
    margin-top: 60px;
    display: none;
  
   
    
}

.top_nav .top_nav_worp li:hover > .top_nav_worp_a_xiala{
    display: block;
   
}
/* 弹性盒子重点 */
.xialakuangjia{
 padding: 20px 0px 0px 0;
/* width: 1000px;
margin: 0 auto; */
display: flex;
justify-content: center;
}

 .news_a{
    display: block;
    width: 149.2px;
    float: left;
    height: 92px;
    margin-left: 10px;
   
    
    position: relative;

}
.news_a > img{
    display:block;
 
    position: absolute;
    width: 145.2px;
    height: 88px;
    border: 2px solid #000;
  
  
   
}
.news_a > img:hover{
    
    border-color: rgb(245, 54, 54);
   
}
.kindCon {
    color: #fff;
    background: #c2a060;
    width: 15px;
    padding: 2px 3px;
    line-height: 18px;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-style: normal;
}
/* 有个重点 */
.xiala_p{
   
    color: #fff;
    background-color: black;
  
    
    position: absolute;
    bottom: 2px;
    padding: 0 6px;
    width: 100%;
    height: auto;
    line-height: 16px;
    overflow: hidden;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    
    
    box-sizing: border-box;

}
.xiala_em{
    right: 0;
    bottom: 0;
    background: #c2a060;
    font-style: normal;
    font-size: 14px;
    color: #000;
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 0 2px;
    font-weight: 700;
    position: absolute;
    
}

/* 搜索框 */
.search{
    width: 182px;
    height: 23px;
    line-height: 23px;
    border-bottom: 1px solid #c2a060;
    position: absolute;
    z-index: 20;
    right: 20px;
    top: 50%;
    transform: translate(0,-50%);
}